<h1 align="center">Rich's Week 3 Project Notebook - Part 1</h1>
<h2 align="center">Coursera IBM Data Science Professional Certificate</h2>
This notebook will primarily be used to fulfill the requirements of the Coursera IBM Data Science Capstone project.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

<h2>Rich Huebner</h2>
<h3>Week 3 Project Assignment - Neighborhoods in Toronto</h3>

In [12]:
from pandas.io.json import json_normalize
import folium
from geopy.geocoders import Nominatim 
import requests
from urllib.request import urlopen
from sklearn.cluster import KMeans
from IPython.display import display_html

print('Libraries are now included.')

Libraries are now included.

In [6]:
# Calls to the Foursquare API
# https://api.foursquare.com/v2/search/
# include ClientID, Client Secret, Version.
CLIENT_ID = '0PNU1Y1L1N0W33QOPPR0JMJYJRASC2NNJSCH5JPXXFEO2BIY' # your Foursquare ID
CLIENT_SECRET = '2LX3Z3HXAEKA1DZTT54TQDE4ZMSCYSLAZGKGZSK5ZIQ4IYMP' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 100

In [20]:
# Clean, straightforward way to grab the table using pandas read_html command.
toronto_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
toronto_data = pd.read_html(toronto_url)
df = toronto_data[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [21]:
# Create a new df where Borough != 'Not assigned'
df_na = df[df.Borough != 'Not assigned']
df_na = df_na.sort_values(by = ['Postal Code', 'Borough'])

In [30]:
df_na.shape

(103, 3)

<h2>Part II:  Geographic Coordinates - Lat/Long</h2>

In [33]:
geourl = "https://cocl.us/Geospatial_data"
geodata = pd.read_csv(geourl)
geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:
# Going to rename the columns for ease of use
geodata.columns = ['Postcode', 'lat', 'lon']

combined = pd.merge